.App {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #242323;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  width: 700px; 
  max-width: 90%; 
  color: white;
}

.title {
  margin-bottom: 20px;
}

.result {
  margin-bottom: 20px;
  font-weight: bold; 
}

.form-control {
  padding: 10px;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

.btn {
  border: none;
  padding: 10px 15px; 
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s; 
  margin: 0 5px;
}

.btn-evaluate {
  background-color: #30a211;
}

.btn-reset {
  background-color: #dc3545;
}

.btn-evaluate:hover {
  background-color: #0056b3; 
}

.btn-reset:hover {
  background-color: #c82333;
}